<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reg/style.css">
    <title>Registration</title>
</head>
<body>

    
    
    <section>
        
        <div class="main-div">
            <div class="user-r">
                <h1>Sign up as <span>User</span></h1>
              <form action="/user" method="post">
                <input type="text" id="name" name="name" placeholder="Full name"><br>
                <input type="email" id="email" name="email" placeholder="example@mail.com"><br>
                <input type="text" name="address" id="address" placeholder="house no,road,block,area,city"><br>
                <input type="text" name="phone" id="phone" placeholder="00000 000000"><br>
                <input type="password" name="password" id="password" placeholder="password">
                <br>
                <input type="submit" id="submit" value="Sign in">
              </form>  
            </div>

            <div class="event-r">
                <h1>Sign up as <span>Event planer</span></h1>
                <form action="/eventplaner" method="post">
                    <input type="text" id="Cname" name="Cname" placeholder="Company name"><br>
                    <input type="email" id="email" name="email" placeholder="Exampale@mai.com"><br>
                    <input type="text" name="address" id="address" placeholder="house no,road,block,area,city"><br>
                    <input type="text" name="phone" id="phone" placeholder="00000 000000">
                    <input type="text" name="zip" id="zip" placeholder="Zip code"><br>
                    <input type="password" id="password" name="password" placeholder="password"><br>
                    <br>
                    <input type="submit" id="submit" value="Sign in">
    
                  </form> 

            </div>



        </div>
    </section>

</body>
</html>