
section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #724ed6; */


}
.main-div{
    display: flex;
    gap: 4%;
    /* background: #21f16a; */
    margin: 2%;
    padding: 2%;
    
}
.main-div h1{
    color: #484849;
}
.main-div h1 span{
    color: #000;
}
.main-div input{
    width: 300px;
    height: 30px;
    margin: 1%;
    border: 1px solid rgb(20, 20, 20);
    padding: 2%;
}

.main-div #submit{
    width: 100px;
    color: white;
    background: #000;
    border: none;
}
.user-r{
    
    padding: 5%;
}
.event-r {
   border-left: 1px solid black;
    padding: 5%;
}
.header{
    color: white;
    background: #000;
}
.file-input{
    padding: 1%;
    margin: 1%;
    background: black; 
    color: white;
 }
sub{
    color: #7c7c7ce0;
    margin-left: 5px;
}
 