@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
    margin: 0px;
}
nav{
    background: #000;
    color: white;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    height:4rem;
   
}

nav h2{
    margin-left: 2%;
    font-family: 'Pacifico', cursive;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22rem;
    padding:0% 2% ;
}
.nav-img{
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid white;
    border-radius: 100px;
    overflow: hidden;

}
.profile h5{
    margin-left: 4px;
   
}
nav img{
  width: 2.5rem;
    
}
a{
    text-decoration: none !important;
    background: #efefef;
    padding: 0.6rem;
    color: #000 !important;
    border-radius: 0.5rem;
}
a:hover{
    border:1px white;
    border-spacing:1px ;
}
.container{
    margin: 2%;
    display: flex;
    justify-content: center;
    
}
.user-filter{
    width: 350px;
    height: 700px;
    border: 1px solid black;
    margin: 1%;
    align-items: center;
    padding: 2%;
    overflow: scroll;
}


.form-control:focus, .form-check-input:focus{
    border-color:#686666 !important;
    box-shadow: 0 0 0 0.25rem rgba(67, 67, 68, 0.25) !important;
}

.form-check-input:checked{
    background-color: #3b3c3d !important;
    border-color: #696969 !important;
}

.event-planer{
    width: 500px;
    height: 700px;
    border: 1px solid black;
    margin: 1%;
    padding: 2%;
    overflow: scroll;
    
}
.vendor{
    width: 200px;
    border: 1px solid black;
    margin: 1%;
    padding: 2%;
    
}
select{
    padding: 1%;
    
}
#submit{
    color: white;
    background: #000;
    border: none;
    padding: 2%;
}
.event-container{
    background: rgb(255, 255, 255);
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: rgb(0, 0, 0);

}
.event-planer h3{
    background: #000;
    color: white;
    padding: 1%;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}
button{
    color: white;
    background: black;

}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgb(9, 9, 9); 
    border-radius: 1px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(5, 5, 5); 
    border-radius: 1px;
  }