<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login/style.css">
    <title>login</title>
</head>
<body>
    <section>
        <div class="maindiv">
            <div class="form-div">
                <h1>Login to <span>Eventlify</span></h1>
                
            <form action="/login-eventP" method="post">
                <input type="email" name="Cemail" id="Cemail" placeholder="Email" required>
                <input type="password" name="Cpassword" id="Cpassword" placeholder="Password" required>
                <button type="submit">Login</button>
                
                <a href="/register">or create an account</a>
                
            </form>
            </div>
        </div>
    </section>
    <script src="conn.js"></script>
</body>
</html>