<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="eventplaner/profile.css">
    <title>Document</title>
</head>
<body>
    <section>
        <nav class="navBar">
            <h1>Eventlyfy</h1>
            
            <div class="profile">
                <div class="nav-img"><img src="mainpage/profile.png"  alt=""></div>
               <h5><%= name %></h5> 
                <a href="/logout">Logout</a>
            </div>
        </nav>
    </section>

    <section>
       <div class="cover-main">
            <div class="cover">
                <img src="eventplaner/cover.avif" alt="">
                
                
            </div>
            
                <form action="/uploadeventcover" method="POST" enctype="multipart/form-data">

                    <label for="profilePicture" class="custom-file-label">
                        <input type="file" name="profilePicture" accept="image/*" class="file-input">
                    </label>     
                    <button type="submit">Upload</button>
                </form>
            
       </div> 
      
       
    </section>
    
</body>
</html>