@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    margin: 0px;
}
nav{
    background: #000;
    color: white;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    
   
}

nav h1{
    margin-left: 2%;
    font-family: 'Pacifico', cursive;
}
.profile{
    display: flex;
    margin-right: 4%;
    justify-content: space-between;
    align-items: center;
   
    width: 250px;
    padding:0% 2% ;
}
.nav-img{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 100px;
    overflow: hidden;

}
.profile h2{
    margin-left: 4px;
   
}
nav img{
  width: 40px;
    
}
a{
    text-decoration: none;
    background: #efefef;
    padding: 2%;
    color: #000;
}
a:hover{
    border:1px white;
    border-spacing:1px ;
}
.cover-main{
    margin:2% ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.cover{
    width: 600px;
    height: 250px;
    border: 3px solid black;
    overflow: hidden;
    object-fit: cover;
    box-shadow: rgba(78, 78, 85, 0.2) 0px 7px 29px 0px;
}
.cover img{
    width: fit-content;
    
}
input{
    color: white;
    background: black;
}

.file-input{
   padding: 1%;
   margin: 1%;
   
}
button{
    color: white;
    background: black;
    padding: 1%;
    border: none;
    border-radius: 1px;
}

